* {
	margin: 0;
	padding: 0;
	border:0;
	vertical-align:baseline;
}
body {
	background: #FAFAFA;
}

	
.head { 
	box-sizing: border-box;
	position: relative;
	width: 100%;		
	height: 80px;	
	padding: 15px;
	background-color: #FF8500;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.head input {	
	box-sizing: border-box;
	padding: 0 65px 0 20px;
	width: 100%;
	height: 50px;
	float: left;
	background: rgba(255,255,255,0.2);
	color: #fff;						
	border-top-right-radius: 25px;			
	border-bottom-right-radius: 25px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
	border: 0px;
	box-shadow: none;
	outline: none;
	appearance: none;
}

.head input::-webkit-input-placeholder {
	color: rgba(255,255,255,0.75);
}

.head button {
	right: 15px;
	background: #fff;
	position: absolute;
	height: 50px;
	width: 50px;
	float: right;
	appearance: none;
	border: 0px;
	border-radius: 25px;
	outline: none;                            /*Выделение при нажатии*/
	box-shadow: none;
}


.head button svg {
	width: 16px;
	height: 16px;
	position: absolute;
	margin: -8px 0 0 -8px;
}

#add:hover #Layer_1{
	transform: rotate(90deg);
	transition: all 0.3s;
}

.content {
	padding: 15px;
	height: 400px;	
	overflow-y:auto;
}


.content ul li {
	font-size: 23px;
	margin-bottom: 15px;
	height: 50px
	position: relative;
	box-sizing: border-box;
	padding: 14px 10px 10px 14px;
	list-style-type: none;
	width: 100%;
	background: #FFB463;
	border-radius: 5px;
	box-shadow: 0px 1px 2px rgba(44,62,80,0,10);
}

.content ul li:last-of-type {
	margin: 0;
}

.check {	
	float: left;
	width: 26px;
	height: 26px;
	margin-right: 8px;
	background: transparent;                  /*Чтобы сделать прозрачный фон*/
	outline: none;                            /*Выделение при нажатии*/
	box-shadow: none;
}

.uncheck {	
	float: left;
	background: transparent;                  /*Чтобы сделать прозрачный фон*/
	width: 26px;
	height: 26px;
	margin-right: 8px;
	outline: none;                            /*Выделение при нажатии*/
	box-shadow: none;
}


.clear {
	float: right;
	width: 26px;
	height: 26px;
	margin-right: 8px;
	background: transparent;
	outline: none;                            /*Выделение при нажатии*/
	box-shadow: none;
}

#check {
	fill: rgba(240,82,40,0.45);
}

#uncheck {
	fill: rgba(255,255,255,0.5);
}

.uncheck svg {
	border: 3px solid rgba(240,82,40,0.01);
	border-radius: 25px;
	background-color: rgba(240,82,40,0.45);
}

.check svg {
	border: 3px solid rgba(240,82,40,0.45);
	border-radius: 25px;
}

.content ul li button.check:hover #check{
	background-color: rgba(240,82,40,1);
	fill: rgba(240,82,40,1);	
	border: 3px solid rgba(240,82,40,1);
}

.content ul li button.uncheck:hover #uncheck{
	background-color: rgba(240,82,40,1);
	fill: rgba(255,255,255,1);
}

.content ul li button.uncheck:hover #Layer_2 {
	background-color: rgba(240,82,40,1);
}

.content ul li button.check:hover #Layer_2 {
	border: 3px solid rgba(240,82,40,1);
}


#clear {
	fill: #FFB463;
}


.content ul li button.clear:hover #clear {
	fill: #FF0800;
}

footer {
	margin-top: 15px;
	padding-right: 15px; 
	padding-left: 15px;
	text-align: center;
	box-sizing: border-box; /*Свойства width и height включают в себя значения полей и границ, но не отступов (margin). */
}

#all {
	padding: 0 3px 0 3px;
	height: 20px;	
	background-color: #DFDFDF;
}

#active {
	margin-left: 10px;
	padding: 0 8px 0 8px;
	float: center;
	height: 20px;
	background-color: #DFDFDF;
}

#continue {
	margin-left: 10px;
	padding: 0 8px 0 8px;
	height: 20px;
	background-color: #DFDFDF;
}

#clear-items {
	float: right;
	padding: 0 8px 0 8px;
	height: 20px;
	background-color: #DFDFDF;
}

#items_left {
	float: left;
}